.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .heroBanner {
    padding: 1.5rem;
  }

  .buttons {
    flex-direction: column;
    gap: 0.75rem;
  }
}
